// main: ../main.sass

.empresa
	.top-box
		background-image: url('~/assets/images/empresa-mobile.jpg')
		@media(min-width: 768px)
			background-image: url('~/assets/images/empresa.jpg')
	.banda
		&:after
			content: ''
			display: block
			clear: both
		&.intro, &.historia
			p
				line-height: 24px
				&:not(:last-of-type)
					margin-bottom: 15px
		&.intro
			text-align: center
		&.historia
			background: $blue-violet
			color: $white
			h5
				text-transform: uppercase
				font-size: 18px
				margin-bottom: 20px
			.container
				display: flex
				@media(max-width: 767px)
					flex-wrap: wrap-reverse
			.historia__img
				order: 2
				flex: 2
				@media(max-width: 767px)
					order: auto
					flex: auto
					margin-bottom: 25px
				img
					width: 100%
			.historia__content
				flex: 2.5
				@media(max-width: 767px)
					flex: auto
				padding-right: 150px
				@media(max-width: 991px)
					padding-right: 100px
				@media(max-width: 767px)
					padding-right: 0px